/* This settings will be later fixed/refactored */
 @charset "UTF-8";


/*Login and Register Page*/
main{
    height: auto;
    min-height: 72.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divLogin{
    word-spacing: 3px;
    max-width: 430px;
    margin-top: 35px;
    
}

.container-fluid{
    width: 430px;
    margin: 0 0;
    padding: 0 0;
}

.textLogin{
    width: 430px;
    height: 44px;
    background: #EEEEEE;
    border: none;
}

.divLabel{
    width: 100%;
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 11px;
    color: #666666;
}

.showPassword{
    display:inline-block;
    cursor: pointer;
    margin-left: 400px;
    margin-top: -70px;
}

#forgotPassword{
    font-size: 11px;
    color: #666666;
    float: right;
}

#divButtonLogin{
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonLogin{
    border: none;
    background-color: white;
}

#passwordContain{
    font-size: 9.5px;
    color: rgb(144, 13, 13);
    margin-top: -10px;
}

.invalid{
    word-spacing: 5px;
    font-size: 9.5px;
    color: rgb(144, 13, 13);;
}

/*Account Page*/
.divAccount{
    height: 73vh;
    width: 15vw;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    float: left;
}

.listAccount{
    list-style: none;
    margin-top: 100px;
}

.listAccount li{
    margin-bottom: 10px;
}

#idDivAccount{
    width: 80vw;
    min-height: 50vh;
    height: auto;
    float: right;
}

#accountInformation{
    font-size: 15px;
    text-align: center;
    margin-left: -20vw;
    margin-top: 50px;
}

#backgroundProfile{
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
 
    width: 100%;
}

#favoriteIdol{
    margin-top: -9px;
    background-color: #ffffffb5;
    width: 100%;
    height: 19vh;
    max-width: 300px;
    margin-right: 10px;
    border-width: 1px;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: #ffffffb5;
    border-style: solid;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#divIdol{
    width: 17vw;
    margin-left: 10vw;
    list-style: none;
}

#savedAddresses{
    background-color: #ffffffb5;
    font-size: 10px;
    width: 25vw;
    max-width: 250px;
    margin-right: 10px;
    border-width: 1px;
    box-sizing: border-box;
    border-radius: 8px;
    border-color: #C7C7C7;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 16%);
    border-style: solid;
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/*Account Personal Information*/
#editAccount{
    height: auto;
    min-height: 72.5vh;
    margin-left: 20%;
}

#buttonEdit{
    margin-top: 12px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#editAddress{
    font-size: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#editCards{
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*.product-img{

}*/